<div class="flex flex-row items-center justify-between fixed !w-full p-5 bg-slate-900 text-white lg:hidden z-10">
    <h3 class="!m-0">Barangay Medicare</h3>
    <fa-icon [icon]="faBars" (click)="navToggle()"></fa-icon>
</div>

<div class="block lg:hidden fixed !w-full !h-full top-0 left-0 bg-[#000000ab] z-20" (click)="navToggle()" *ngIf="isNavOpen"></div>

<div class="hidden lg:block fixed w-[260px] p-5 bg-white h-full z-30" [ngClass]="{'!block': isNavOpen}">
    <!-- bg-[#064f32]  -->
    <img src="../../../assets/images/logo.png" alt="logo.png" width="100" class="m-auto hidden lg:block">

    <nav class="mt-8">
        <ul class="">

            <ng-container *ngFor="let cat of navList">


                <p class="font-bold text-slate-500 !mb-3 !mt-8">{{ cat.category }}</p>

                <li class="mb-1" *ngFor="let nav of cat.nav">
                    <a [routerLink]="nav.navLink" routerLinkActive="bg-[#3f51b5] text-white transition-all" class="block px-5 py-4 w-full rounded-lg hover:bg-[#3f51b5] hover:text-white hover:transition-all">
                        <div class="flex flex-row gap-3">
                            <fa-icon [icon]="nav.icon"></fa-icon>
                            <span class="font-semibold">{{ nav.navName }}</span>
                        </div>
                    </a>
                </li>


            </ng-container>



        </ul>
    </nav>

</div>