<div class="py-5">

    <div class="grid grid-cols-1 gap-10 lg:grid-cols-2 items-start mt-8">

        <div class="p-5 rounded shadow-lg border-2">

            <form [formGroup]="personalInfo" (ngSubmit)="updatePersonalInfo(personalInfo.value)">

                <h3 class="!text-lg !font-bold">Personal Infomation</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, aut sunt sequi molestiae error
                    inventore!</p>

                <div class="py-3">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                        <mat-form-field appearance="outline" class="!w-[100%]">
                            <mat-label>Firstname</mat-label>
                            <input matInput placeholder="" formControlName="firstname">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="!w-[100%]">
                            <mat-label>Middlename <span class="text-[12px]">(Optional)</span></mat-label>
                            <input matInput placeholder="" formControlName="middlename">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="!w-[100%] md:col-span-2">
                            <mat-label>Lastname</mat-label>
                            <input autocomplete="off" matInput placeholder="" formControlName="lastname">
                        </mat-form-field>
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                        <mat-form-field appearance="outline" class="!w-[100%]">
                            <mat-label>Select gender</mat-label>
                            <mat-select formControlName="gender">
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="!w-[100%]">
                            <mat-label>Birthdate</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="birthdate"
                                placeholder="MM/DD/YYYY">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="!w-[100%]">
                            <mat-label>Martial Status</mat-label>
                            <mat-select formControlName="marital_status">
                                <mat-option value="Single">Single</mat-option>
                                <mat-option value="Married">Married</mat-option>
                                <mat-option value="Widowed">Widowed</mat-option>
                                <mat-option value="Divorced">Divorced</mat-option>
                                <mat-option value="Seperated">Seperated</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="text-right">
                        <button mat-raised-button color="primary" class="!px-9">Update</button>
                    </div>

                </div>

            </form>

        </div>




        <div class="p-5 rounded shadow-lg border-2">
            <form [formGroup]="accountInfo" (ngSubmit)="updateAccountInfo(accountInfo.value)">

                <h3 class="!text-lg !font-bold">Account Information</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, aut sunt sequi molestiae error
                    inventore!</p>

                <div class="py-3">
                    <mat-form-field appearance="outline" class="!w-[100%]">
                        <mat-label>Username</mat-label>
                        <input autocomplete="off" matInput placeholder="" formControlName="username">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="!w-[100%]">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="" type="{{ isPasswordVisible ? 'text' : 'password' }}"
                            formControlName="password">
                        <mat-icon *ngIf="this.accountInfo.get('password')?.value" matSuffix (click)="showPassword()">{{
                            isPasswordVisible ? "visibility" :
                            "visibility_off"
                            }}</mat-icon>
                    </mat-form-field>

                    <div class="text-right">
                        <button mat-raised-button color="primary" class="!px-9">Update</button>
                    </div>
                </div>
            </form>
        </div>

    </div>


</div>