<div class="py-5">

    <div class="text-right w-full">
        <mat-form-field appearance="outline" class="!w-full md:max-w-[300px]">
            <mat-label>Search Patient</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Patient name" #input>
        </mat-form-field>
    </div>

    <div class="overflow-auto">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="patientFullname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="!bg-[#3f51b5] !font-bold !text-white"> Patient </th>
                <td mat-cell *matCellDef="let row" class="capitalize"> {{row.patient_fullname}} </td>
            </ng-container>

            <ng-container matColumnDef="appointed_time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="!bg-[#3f51b5] !font-bold !text-white"> Appointed Time </th>
                <td mat-cell *matCellDef="let row" [ngClass]="{ 'text-red-600': row.appointed_time === null }"> {{row.appointed_time || 'Not yet set' }} </td>
            </ng-container>

            <ng-container matColumnDef="appointed_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="!bg-[#3f51b5] !font-bold !text-white"> Appointed Date </th>
                <td mat-cell *matCellDef="let row"> {{row.appointed_date | date:'MMMM dd, YYYY'}} </td>
            </ng-container>
            
            <ng-container matColumnDef="medical_reason">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="!bg-[#3f51b5] !font-bold !text-white"> Medical Reason </th>
                <td mat-cell *matCellDef="let row"> {{row.medical_reason}} </td>
            </ng-container>

            <ng-container matColumnDef="statusName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="!bg-[#3f51b5] !font-bold !text-white"> Status </th>
                <td mat-cell *matCellDef="let row"> {{row.status_name}} </td>
            </ng-container>

            <ng-container matColumnDef="date_created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="!bg-[#3f51b5] !font-bold !text-white"> Date Created </th>
                <td mat-cell *matCellDef="let row"> {{row.appointment_records_date_created | date:'MMMM dd, YYYY HH:mm a'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="!bg-[#3f51b5] !font-bold !text-white"> Action </th>
                <td mat-cell *matCellDef="let row"> 
                    <div class="flex gap-2">
                        <button mat-stroked-button class="!bg-[#198754] !text-white hover:!bg-green-800" (click)="completeAppointment(row.id)"><fa-icon [icon]="faCheck"></fa-icon></button>
                        <button mat-stroked-button class="!bg-red-700 !text-white hover:!bg-red-800" (click)="declineAppointment(row.id)"><fa-icon [icon]="faXmark"></fa-icon></button>
                        <button mat-stroked-button class="!bg-[#e9e9e9] !text-black hover:!bg-[#cecece]" (click)="notifyPatientAppointment(row.id)"><fa-icon [icon]="faBell"></fa-icon></button>
                    </div>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="!bg-[#3f51b5] !font-bold !text-white"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="7">
                    <p class="!m-0 !py-3 bg-slate-300 text-center">No data matching the filter "{{input.value}}"</p>
                </td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[8, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>



</div>