<div class="w-[100%] shadow-lg p-5">

    <h1 class="!font-semibold">Forgot Password</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate dolores maxime commodi harum, ducimus placeat.</p>
    <hr>

    <form [formGroup]="employeeCredentials" (ngSubmit)="editEmployeeCredentials(employeeCredentials.value)">

        <b>Employee Details</b>

        <br>
        <br>

        <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
            <mat-form-field appearance="outline" class="!w-[100%]">
                <mat-label>Firstname</mat-label>
                <input matInput placeholder="" formControlName="firstname">
            </mat-form-field>

            <mat-form-field appearance="outline" class="!w-[100%]">
                <mat-label>Middlename</mat-label>
                <input matInput placeholder="" formControlName="middlename">
            </mat-form-field>

            <mat-form-field appearance="outline" class="!w-[100%] md:col-span-2">
                <mat-label>Lastname</mat-label>
                <input matInput placeholder="" formControlName="lastname">
            </mat-form-field>
        </div>

        <div class="gri grid-cols-1 gap-2">
            <mat-form-field appearance="outline" class="!w-[100%]">
                <mat-label>Select position</mat-label>
                <mat-select formControlName="position">
                    <mat-option value="Barangay Health Worker (BHW)">Barangay Health Worker (BHW)</mat-option>
                    <mat-option value="Community Health Worker (CHW)">Community Health Worker (CHW)</mat-option>
                    <mat-option value="Nurse">Nurse</mat-option>
                    <mat-option value="Midwife">Midwife</mat-option>
                    <mat-option value="Dentist">Dentist</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        
        <button mat-raised-button color="primary" class="!w-full !p-7" [mat-dialog-close]="employeeCredentials.value">Submit</button>

    </form>

</div>