<div class="py-5">

    <div class="grid grid-cols-1 gap-10 lg:grid-cols-2 items-start mt-8">

        <div class="p-5 rounded shadow-lg border-2">
            <form [formGroup]="contactInfo" (ngSubmit)="updateContactInfo(contactInfo.value)">

                <h3 class="!text-lg !font-bold">My Contact Infomation</h3>
                <p>Always keep your addition information updated.</p>

                <div class="py-3">
                    <div class="grid grid-cols-1 md:grid-cols-1 gap-2">
                        <mat-form-field appearance="outline" class="!w-[100%]">
                            <mat-label>Contact No.</mat-label>
                            <input autocomplete="off" matInput placeholder="Ex. 09228215465"
                                formControlName="contact_no">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="!w-[100%]">
                            <mat-label>Email Address</mat-label>
                            <input autocomplete="off" matInput placeholder="" formControlName="email">
                        </mat-form-field>
                    </div>

                    <div class="text-right">
                        <button mat-raised-button color="primary" class="!px-9">Update</button>
                    </div>
                </div>
            </form>
        </div>



        <div class="p-5 rounded shadow-lg border-2">
            <form [formGroup]="addressInfo" (ngSubmit)="updateAddressInfo(addressInfo.value)">

                <h3 class="!text-lg !font-bold">My Contact Infomation</h3>
                <p>Always keep your addition information updated.</p>

                <div class="py-3">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                        <mat-form-field appearance="outline" class="!w-full col-span-2 lg:col-span-1">
                            <mat-label>Region</mat-label>
                            <mat-select formControlName="region" (selectionChange)="regionSelect($event)">
                                <mat-option *ngFor="let reg of regionList" [value]="reg.regCode">{{ reg.regDesc
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="!w-full col-span-2 lg:col-span-1">
                            <mat-label>Province</mat-label>
                            <mat-select formControlName="province" (selectionChange)="provinceSelect($event)">
                                <mat-option *ngFor="let prov of provinceList" [value]="prov.provCode">{{ prov.provDesc
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="!w-full col-span-2 lg:col-span-1">
                            <mat-label>Municipality/ City</mat-label>
                            <mat-select formControlName="cityMun" (selectionChange)="cityMunSelect($event)">
                                <mat-option *ngFor="let citymun of municipalityList" [value]="citymun.citymunCode">{{
                                    citymun.citymunDesc }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="!w-full col-span-2 lg:col-span-1">
                            <mat-label>Barangay</mat-label>
                            <mat-select formControlName="barangay">
                                <mat-option *ngFor="let brgy of barangayList" [value]="brgy.brgyCode">{{ brgy.brgyDesc
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="text-right">
                        <button mat-raised-button color="primary" class="!px-9">Update</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="p-5 rounded shadow-lg border-2">
            <form [formGroup]="emergencyContactInfo" (ngSubmit)="updateEmergencyInfo(emergencyContactInfo.value)">

                <h3 class="!text-lg !font-bold">Contact In Case of Emergency</h3>
                <p>Always keep your contact information updated.</p>

                <div class="py-3">

                    <div class="grid grid-cols-1 md:grid-cols-1 gap-2">
                        <mat-form-field appearance="outline" class="!w-[100%]">
                            <mat-label>Fullname</mat-label>
                            <input autocomplete="off" matInput placeholder="" formControlName="fullname">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="!w-[100%]">
                            <mat-label>Contact No.</mat-label>
                            <input autocomplete="off" matInput placeholder="Ex. 09228215465"
                                formControlName="emergency_contact_no">
                        </mat-form-field>
                    </div>

                    <div class="text-right">
                        <button mat-raised-button color="primary" class="!px-9">Update</button>
                    </div>
                </div>
            </form>
        </div>

    </div>


</div>