<div class="lg:flex lg:items-center lg:h-[100vh] lg:w-[100%]">

    <div class="lg:flex lg:flex-row lg:gap-5 lg:items-start lg:w-[100%] lg:max-w-[1600px] lg:m-auto lg:px-14">

        <div class="hidden lg:block lg:mt-20 lg:w-[40%]">

            <img src="../../../assets/images/undraw_doctor_kw-5-l.svg" alt="" width="400" class="m-auto mb-10">

            <h1 class="!m-0 !font-bold !text-3xl">Sibut Medicare</h1>
            <h3 class="text-slate-500">Welcome to SibutMedicare where you can now collect, and view your patients’
                information through this website. Nurse and Staffs of Sibut healthcare center can also view and accept
                the patients' appointment request in this website. </h3>
            <h3 class="!font-semibold">Already have account?</h3>
            <button mat-raised-button color="primary" type="button" routerLink="/login">Click here to login</button>
        </div>

        <div class="p-1 md:p-5 lg:w-[60%] m-auto lg:p-10 lg:shadow-lg lg:border lg:rounded">

            <div class="text-center py-3 !pt-10 lg:!pt-0 block lg:hidden">
                <h1 class="!m-0 !font-bold !text-3xl">Sibut Medicare</h1>
                <h3 class="text-slate-500">Create an account</h3>
                <p>Already have account? <a class="underline text-blue-500" routerLink="/login">Login here</a></p>
            </div>

            <hr class="block lg:hidden">

            <mat-vertical-stepper [linear]="true" #stepper>

                <mat-step [stepControl]="personalInfo">
                    <form [formGroup]="personalInfo">
                        <ng-template matStepLabel class="!text-red-500">Personal Information</ng-template>

                        <div class="py-3">
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                                <mat-form-field appearance="outline" class="!w-[100%]">
                                    <mat-label>Firstname</mat-label>
                                    <input matInput placeholder="" formControlName="firstname">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="!w-[100%]">
                                    <mat-label>Middlename <span class="text-[12px]">(Optional)</span></mat-label>
                                    <input matInput placeholder="" formControlName="middlename">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="!w-[100%] md:col-span-2">
                                    <mat-label>Lastname</mat-label>
                                    <input autocomplete="off" matInput placeholder="" formControlName="lastname">
                                </mat-form-field>
                            </div>

                            <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                                <mat-form-field appearance="outline" class="!w-[100%]">
                                    <mat-label>Select gender</mat-label>
                                    <mat-select formControlName="gender">
                                        <mat-option value="Male">Male</mat-option>
                                        <mat-option value="Female">Female</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="!w-[100%]">
                                    <mat-label>Birthdate</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="birthdate"
                                        placeholder="MM/DD/YYYY">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="!w-[100%]">
                                    <mat-label>Martial Status</mat-label>
                                    <mat-select formControlName="marital_status">
                                        <mat-option value="Single">Single</mat-option>
                                        <mat-option value="Married">Married</mat-option>
                                        <mat-option value="Widowed">Widowed</mat-option>
                                        <mat-option value="Divorced">Divorced</mat-option>
                                        <mat-option value="Seperated">Seperated</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>





                            <div>
                                <button mat-raised-button color="primary" matStepperNext class="!px-9">Next</button>
                            </div>

                        </div>

                    </form>
                </mat-step>


                <mat-step [stepControl]="contactInfo">
                    <form [formGroup]="contactInfo">
                        <ng-template matStepLabel>Contact Information</ng-template>

                        <div class="py-3">
                            <div class="grid grid-cols-1 md:grid-cols-1 gap-2">
                                <mat-form-field appearance="outline" class="!w-[100%]">
                                    <mat-label>Contact No.</mat-label>
                                    <input autocomplete="off" matInput placeholder="Ex. 09228215465"
                                        formControlName="contact_no">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="!w-[100%]">
                                    <mat-label>Email Address</mat-label>
                                    <input autocomplete="off" matInput placeholder="" formControlName="email">
                                </mat-form-field>
                            </div>

                            <div>
                                <button mat-stroked-button color="primary" matStepperPrevious
                                    class="!px-9 !mr-3">Back</button>
                                <button mat-raised-button color="primary" matStepperNext class="!px-9">Next</button>
                            </div>
                        </div>
                    </form>
                </mat-step>


                <mat-step [stepControl]="addressInfo">
                    <form [formGroup]="addressInfo">
                        <ng-template matStepLabel>Address Information</ng-template>

                        <div class="py-3">
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                                <mat-form-field appearance="outline" class="!w-full">
                                    <mat-label>Region</mat-label>
                                    <mat-select formControlName="region" (selectionChange)="regionSelect($event)">
                                        <mat-option *ngFor="let reg of regionList" [value]="reg.regCode">{{ reg.regDesc
                                            }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="!w-full">
                                    <mat-label>Province</mat-label>
                                    <mat-select formControlName="province" (selectionChange)="provinceSelect($event)">
                                        <mat-option *ngFor="let prov of provinceList" [value]="prov.provCode">{{
                                            prov.provDesc }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="!w-full">
                                    <mat-label>Municipality/ City</mat-label>
                                    <mat-select formControlName="cityMun" (selectionChange)="cityMunSelect($event)">
                                        <mat-option *ngFor="let citymun of municipalityList"
                                            [value]="citymun.citymunCode">{{ citymun.citymunDesc }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="!w-full">
                                    <mat-label>Barangay</mat-label>
                                    <mat-select formControlName="barangay">
                                        <mat-option *ngFor="let brgy of barangayList" [value]="brgy.brgyCode">{{
                                            brgy.brgyDesc }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div>
                                <button mat-stroked-button color="primary" matStepperPrevious
                                    class="!px-9 !mr-3">Back</button>
                                <button mat-raised-button color="primary" matStepperNext class="!px-9">Next</button>
                            </div>
                        </div>
                    </form>
                </mat-step>




                <mat-step [stepControl]="emergencyContactInfo">
                    <form [formGroup]="emergencyContactInfo">
                        <ng-template matStepLabel>Contact In Case of Emergency</ng-template>

                        <div class="py-3">

                            <div class="grid grid-cols-1 md:grid-cols-1 gap-2">
                                <mat-form-field appearance="outline" class="!w-[100%]">
                                    <mat-label>Fullname</mat-label>
                                    <input autocomplete="off" matInput placeholder="" formControlName="fullname">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="!w-[100%]">
                                    <mat-label>Contact No.</mat-label>
                                    <input autocomplete="off" matInput placeholder="Ex. 09228215465"
                                        formControlName="emergency_contact_no">
                                </mat-form-field>
                            </div>

                            <div>
                                <button mat-stroked-button color="primary" matStepperPrevious
                                    class="!px-9 !mr-3">Back</button>
                                <button mat-raised-button color="primary" matStepperNext class="!px-9">Next</button>
                            </div>
                        </div>


                    </form>
                </mat-step>


                <mat-step [stepControl]="accountInfo">

                    <form [formGroup]="accountInfo">
                        <ng-template matStepLabel>Almost Done</ng-template>

                        <div class="py-3">
                            <mat-form-field appearance="outline" class="!w-[100%]">
                                <mat-label>Username</mat-label>
                                <input autocomplete="off" matInput placeholder="" formControlName="username">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="!w-[100%]">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="" type="{{ isPasswordVisible ? 'text' : 'password' }}"
                                    formControlName="password">
                                <mat-icon *ngIf="this.accountInfo.get('password')?.value" matSuffix
                                    (click)="showPassword()">{{ isPasswordVisible ? "visibility" :
                                    "visibility_off"
                                    }}</mat-icon>
                            </mat-form-field>

                            <div>
                                <button mat-stroked-button color="primary" matStepperPrevious
                                    class="!px-9 !mr-3">Back</button>
                                <button mat-raised-button color="primary" matStepperNext class="!px-9"
                                    (click)="getAccountCredentials()">Submit</button>
                            </div>
                        </div>
                    </form>


                </mat-step>


            </mat-vertical-stepper>
        </div>
    </div>

</div>