<div class="md:flex md:flex-row md:justify-between md:items-center md:h-[100vh] md:w-[90%] md:m-auto">
    <div class="flex flex-col gap-5 md:flex-row md:w-[100%] md:max-w-[1280px] md:m-auto md:items-center md:gap-5 lg:gap-40 py-10">

        <div class="py-0 px-3 md:px-8 md:w-[50%]">
            <img class="hidden md:block m-auto mb-5 w-[200px] md:w-[300px] lg:w-[400px]" src="../../../assets/images/undraw_medicine_b-1-ol.svg" alt="">
            <h1 class="!text-2xl !font-bold text-center md:text-left">Sibut Medicare</h1>
            <p class="hidden md:block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique velit voluptas, iusto cupiditate mollitia harum consequatur eligendi! Alias eveniet quam pariatur dolor eum? Quae, rerum.</p>

            <p class="!mb-0 hidden md:block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, iure?.</p>
        </div>
        
        <div class="shadow-lg border rounded-sm p-8 w-[100%] max-w-[469px] md:!w-[50%] m-auto">
            <p class="font-semibold">Login credentials</p>
    
            <form [formGroup]="loginCredentials" (ngSubmit)="submitLoginCredentials(loginCredentials)">
                <mat-form-field appearance="outline" class="!w-[100%]">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="" formControlName="username">
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="!w-[100%]">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="" type="{{ isPasswordVisible ? 'text' : 'password' }}" formControlName="password">
                    <mat-icon matSuffix (click)="showPassword()">{{ isPasswordVisible ? "visibility" : "visibility_off"
                        }}</mat-icon>
                </mat-form-field>

                <div class="text-right mt-[-10px] mb-3">
                    <a routerLink="">Forgot password?</a>
                </div>
    
                <button mat-raised-button color="primary" class="w-[100%] !py-6">Login</button>
                <p class="text-center !m-0 !my-3 text-slate-500">or</p>
                <button mat-stroked-button color="primary" class="w-[100%] !py-6" type="button" routerLink="/create-account">Create account</button>
    
                <div class="text-[12px] text-slate-500">
                    <p class="font-semibold !m-0 !mt-5">Note:</p>
                    <p>Accessing our application indicates that you have read and agreed to the <a class="underline text-blue-600 cursor-pointer">terms of use and conditions</a> of healthcare center.</p>
                </div>
            </form>
        </div>

    </div>
    
</div>